ML_PORT=8000
WEATHER_CSV_PATH=../backend/data/weekly_weather.csv
DENGUE_CSV_PATH=../backend/data/dengue_counts.csv
PREDICTION_CSV_PATH=../backend/data/predictions.csv
MODEL_PATH=./model/bilstm_improved.keras
SCALER_X_PATH=./model/scaler_X.pkl
SCALER_Y_PATH=./model/scaler_y.pkl
